extends ../layouts/adminForm

block body_content
  article.panel
    .container
      if pageHeading
        h1= pageHeading 
      form.admin-form(method='post', enctype='multipart/form-data')
        #title
          input(type='text', name='title', placeholder='Video Title*', value=video.title)

        #mp4-video MP4
          if video.mp4FileName
            input(type='hidden', name='mp4[name]', value=video.mp4FileName)
            a(href=video.mp4Src)= video.mp4Src
            input.video(type='file', name='mp4')
          else
            input.video(type='file', name='mp4')

        #ogg-video OGG/OGV
          if video.oggFileName
            input(type='hidden', name='ogg[name]', value=video.oggFileName)
            a(href=video.oggSrc)= video.oggSrc
            input.video(type='file', name='ogg')
          else
            input.video(type='file', name='ogg')

        #published Published
          label True
              input(type='radio', name='published', value=1, checked=( video.published == null || video.published === 1 ? true : false ))
          label False
            input(type='radio', name='published', value=0, checked=( video.published === 0 ? true : false ))

        #submit
          input(type='submit')
