extends ../layouts/adminForm

block body_content
  article.panel
    .container
      if pageHeading
        h1= pageHeading 
      form.admin-form(method='post', enctype='multipart/form-data')
        #title
          input(type='text', name='title', placeholder='Client Name*', value=_client.title)
        #url
          input(type='text', name='url', placeholder='Client URL', value=_client.url)
        #image
          .row
            if _client.image[0] && _client.image[0].src
              input(type='hidden', name='image[0][name]', value=_client.image[0].fileName)
              img(src=_client.image[0].src)
              input.image(type='file', name='image[0]')
              input.image-title(type='text', name='image[0][title]', placeholder='Image Title', value=( _client.image[0] ? _client.image[0].title : null ))
            else
              input.image(type='file', name='image[0]')
              input.image-title(type='text', name='image[0][title]', placeholder='Image Title', value=( _client.image[0] ? _client.image[0].title : null ))
        #position
          input.position(type='number', name='position', placeholder='Position', value=_client.position)
        #submit
          input(type='submit')
