extends ../layouts/adminForm

block body_content
  article.panel
    .container
      if pageHeading
        h1= pageHeading 
      form.admin-form(method='post', enctype='multipart/form-data')
        #name
          input(type='text', name='firstName', placeholder='First Name*', value=crew.firstName)
          input(type='text', name='middleName', placeholder='Middle Name', value=crew.middleName)
          input(type='text', name='lastName', placeholder='Last Name*', value=crew.lastName)
        #job-title
          input(type='text', name='jobTitle', placeholder='Job Title*', value=crew.jobTitle)
        #biography
          textarea(type='text', name='body', placeholder='Biography*', cols='10', rows='5')
            != crew.body 
        #email
          input(type='text', name='email', placeholder='Email', value=crew.email)
        #external-accounts
          input(type='text', name='twitterUser', placeholder='Twitter Username', value=crew.twitterUser)
          input(type='text', name='dribbbleUser', placeholder='Dribbble Username', value=crew.dribbbleUser)
          input(type='text', name='gitHubUser', placeholder='GitHub Username', value=crew.gitHubUser)
        #image
          .row
            if crew.image[0] && crew.image[0].src
              input(type='hidden', name='image[0][name]', value=crew.image[0].fileName)
              img(src=crew.image[0].src)
              input.image(type='file', name='image[0]')
              input.image-title(type='text', name='image[0][title]', placeholder='Image Title', value=( crew.image[0] ? crew.image[0].title : null ))
            else
              input.image(type='file', name='image[0]')
              input.image-title(type='text', name='image[0][title]', placeholder='Image Title', value=( crew.image[0] ? crew.image[0].title : null ))
        #submit
          input(type='submit')
