extends ../layouts/default

block body_content
  article.panel
    .container
      if page_heading
        h1= page_heading 
      form.admin-form(method='post', enctype='multipart/form-data')
        #client
          input(type='text', name='title', placeholder='Client*', value=project.title)
        #cover-image Cover Image

          .row
            if project.coverImage[0] && project.coverImage[0].src
              input(type='hidden', name='coverImage[0][name]', value=project.coverImage[0].fileName)
              img(src=project.coverImage[0].src)
              input.image(type='file', name='coverImage[0]')
              input.image-title(type='text', name='coverImage[0][title]', placeholder='Cover Image Title', value=( project.coverImage[0] ? project.coverImage[0].title : null ))
            else
              input.image(type='file', name='coverImage[0]')
              input.image-title(type='text', name='coverImage[0][title]', placeholder='Cover Image Title', value=( project.coverImage[0] ? project.coverImage[0].title : null ))

        #description
          textarea(name='body', placeholder='Description', cols='10', rows='5')
            != project.body

        #project-image
          
          if project.images
            each image, key in project.images
              .row.clearfix(id='row-' + key)
                input(type='hidden', name='images['+key+'][name]', value=image.fileName)
                img(src=image.src)
                input.image(type='file', name='images['+key+']')
                input.image-title(type='text', name='images['+key+'][title]', placeholder='Image Title', value=image.title)
                input.position(type='hidden', name='images['+key+'][position]', placeholder='Position', value=image.position)
                i.icon-remove-sign.icon-2x

          .row.clearfix(id='row-' + ( project.images ? project.images.length : 0 ))
            input.image(type='file', name='images[' + ( project.images ? project.images.length : 0 ) + ']')
            input.image-title(type='text', name='images[' + ( project.images ? project.images.length : 0 ) + '][title]', placeholder='Image Title')
            input.position(type='hidden', name='images[' + ( project.images ? project.images.length : 0 ) + '][position]', placeholder='Position', value=( project.images ? project.images.length : 0 ))
            i.icon-remove-sign.icon-2x

        a#add-image.btn.btn-new.
          Add Image +
        #submit
          input(type='submit')



block body_scripts
  script.
    jQuery(function ($) {

      var imageRowTemplate = '\
        <div id="row-<%- key %>" class="row clearfix">\
          <input class="image" type="file" name="images[<%- key %>]">\
          <input class="image-title" type="text" name="images[<%- key %>][title]" placeholder="Image Title">\
          <input class="position" type="hidden" name="images[<%- key %>][position]" value="<%- key %>" placeholder="Position"><i class="icon-remove-sign icon-2x"></i>\
        </div>';

      // Adds New Imagerow 
      $('#add-image').on('click', function() {
        var key = $('#project-image > .row').length;
        var imageRowHtml = _.template(imageRowTemplate, { key: key });
        console.log(imageRowHtml);
        $('#project-image').append(imageRowHtml);
        removeParentOnClick('#row-' + key + ' .icon-remove-sign');
      });

      /**
       * Listens for remove-element click events on a specific element or class of elements
       * @param element - The ID or class of an element or set of elements
       */
      var removeParentOnClick = function (element) {
        $(element).on('click', function () {
          $(this).parent().remove();
        });
      }
      removeParentOnClick('.icon-remove-sign');


      var updateImagePositions = function () {
        $('#project-image > .row').each(function (key, value) {
          $(this).children('input.position').val(key);
        });
      }
      updateImagePositions();

      $('#project-image').sortable({
        update: function (e, ui) {
          updateImagePositions();
        }
      });

    });