extends ../layouts/default

block body_content
  article.panel
    .container
      if page_heading
        h1= page_heading 
      form.admin-form(method='post', enctype='multipart/form-data')
        #client
          input(type='text', name='title', placeholder='Client*', value=project.title)
        #description
          textarea(name='body', placeholder='Description', cols='10', rows='5')
            != project.body
        #project-image
          
          each image, key in project.images
            .row
              img(src=image.src)
              br
              input(type='hidden', name='images['+key+'][name]', value=image.fileName)
              input(type='hidden', name='images['+key+'][type]', value=image.type)
              input(type='hidden', name='images['+key+'][size]', value=image.size)
              input.image(type='file', name='images['+key+']')
              input.image-title(type='text', name='images['+key+'][title]', placeholder='Image Title', value=image.title)
              input.position(type='number', name='images['+key+'][position]', placeholder='Position', value=image.position)

          .row
            input.image(type='file', name='images['+project.images.length+']')
            input.image-title(type='text', name='images['+project.images.length+'][title]', placeholder='Image Title')
            input.position(type='number', name='images['+project.images.length+'][position]', placeholder='Position', value=project.images.length)

        a#add-image.btn.btn-new.
          Add Image +
        #submit
          input(type='submit')

block body_scripts
  script.
    jQuery(function($){
      // Adds New Imagerow 
      $('#add-image').on('click', function() {
        $('#project-image').append('<div class="row"><input class="image" type="file" name="images[' + $("input[name*='[title]']").length + ']"><input type="text" name="images[' + $("input[name*='[title]']").length + '][title]" placeholder="Image Title" class="image-title"><input type="number" name="images[' + $("input[name*='[title]']").length + '][position]" placeholder="Position" class="position" value="' + $("input[name*='[title]']").length +'"></div>');
      });
    });