if panel && panel.crew
  article#crew.crew.panel
    .container
      h2= panel.crew.title
      .crew-grid.content
        ul
          each crewmember, key in crew
            li.crew-member 
              .person-wrap.clearfix
                each image in crewmember.image
                  img(src=image.src, alt=image.alt)
                .person-info
                  h4 
                    = crewmember.title
                  h5
                    = crewmember.jobTitle
              .bio
                p
                  = crewmember.body
                if crewmember.email
                  a(href="mailto:#{crewmember.email}")
                    i.icon-envelope
                if crewmember.twitterUser
                  a(href="https://twitter.com/#{crewmember.twitterUser}", target="_blank")
                    i.icon-twitter
                if crewmember.dribbbleUser
                  a(href="http://dribbble.com/#{crewmember.dribbbleUser}", target="_blank")
                    i.icon-dribbble
                if crewmember.gitHubUser
                  a(href="http://github.com/#{crewmember.gitHubUser}", target="_blank")
                    i.icon-github

      .q(data-stellar-ratio='0.5', data-stellar-vertical-offset='220')
