if panel && panel.Services
  article#services.services.panel
    .container
      h2= panel.Services.title
      .content
        p.section-content= panel.Services.body
        ul.first

          if services
            each service in services
              li= service.title
                .flyout.fly-right
                  h4= service.title
                  p= service.body

      .q.pinq(data-stellar-ratio='2', data-stellar-vertical-offset='350')
