if panel && panel.work
  article#work.work.panel
    .container
      h2= panel.work.title
      .content
        p= panel.work.body
      if projects && projects.length
        ul.project-grid
          each project, key in projects
            if (key + 1) % 3 == 0
              li.project-wrap.omega
                a.clearfix.trigger.project-trigger(data-target="#{project.slug}", href="#")
                  img(src="http://lorempixel.com/350/230/animals/#{key}", alt="")
                  span 
                    = project.title
            else
              li.project-wrap 
                a.clearfix.trigger.project-trigger(data-target="#{project.slug}", href="#")
                  img(src="http://lorempixel.com/350/230/animals/#{key}", alt="")
                  span
                    = project.title