if panel && panel.Work
  article#work.work.panel
    .container
      h2= panel.Work.title
      .content
        p= panel.Work.body
      if projects && projects.length
        ul.project-grid
          - var i = 0
          - each project in projects
            - i++
            if i % 3 == 0
              li.project-wrap.omega
                a.clearfix.trigger.project-trigger(data-target="#{project.slug}", href="#")
                  img(src="http://lorempixel.com/350/230/animals/#{i}", alt="")
                  span 
                    = project.client
            else
              li.project-wrap 
                a.clearfix.trigger.project-trigger(data-target="#{project.slug}", href="#")
                  img(src="http://lorempixel.com/350/230/animals/#{i}", alt="")
                  span
                    = project.client